{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>What Was Your Trip Like</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.country.label }}
            {{ form.country(size=32) }}
        </p>
        <p>
            {{ form.city.label }}
            {{ form.city(size=32) }}
        </p>
        <p>
            {{ form.blog.label }}
            {{ form.blog() }}
        </p>
         <p>
            {{ form.startDate.label }}
            {{ form.startDate() }}
        </p>
         <p>
            {{ form.endDate.label }}
            {{ form.endDate() }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
